@media print {
    h1, h2, h3, h4 {
	page-break-after: avoid;
    }
    h2 {
	page-break-before: always;
    }
    pre, ol, ul, table, blockquote, div.figure, div.org-src-container, div.sidebar {
	page-break-inside: avoid;
    }
    p {
	font-size: 10pt;
    }
    @page: {
	size:portrait;
	margin:1cm;
    }


}
